<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pradha Food Express</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Pradha Food Express</h1>
        </div>
        <nav>
            <div class="header-buttons">
                <a href="/login" class="nav-btn">Login</a>
                <a href="/register" class="nav-btn">Sign Up</a>
            </div>
        </nav>
    </header>
    
    <section class="hero">
        <h2>Delicious Meals Delivered to Your Doorstep</h2>
        <h2>We value your time</h2>
    </section>

    <footer>
        <p>© 2024 FoodExpress - All Rights Reserved.</p>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>
